<HTML>
<HEAD>
	<Title>Add Races</Title>
</HEAD>
<BODY>
	<center><H1>Swimming Database</H1></center>
	<H2>Add new race</H2>
	<form method="get">
		<p>First name:<input type="text" name="Firstname"></p>
		<p>Last name:<input type="text" name="Lastname"></p>
		<p>Age:<input type="text" name="Age"></p>
		<p>Class:<input type="text" name="Class"></p>
		<p>School:<input type="text" name="School"></p>
		<p>Distance:<input type="text" name="Distance"></p>
		<p>Stroke:<input type="text" name="Stroke"></p>
		<p>Minutes:<input type="text" name="Minutes"></p>
		<p>Seconds:<input type="text" name="Seconds"></p>
		<p>Decimals:<input type="text" name="Decimals"></p>
		<p>Place:<input type="text" name="Place"></p>
		<p>Date:<input type="text" name="Date"></p>
		<input type="hidden" name="submitted" value="submitted">
		<input type="submit" value="Add_Race">
	</form>
</BODY>
</HTML>
